{{#if AnswerUpdateForm}}
<div>
  <form>
    <div class="form-group">
      <label for="answer">Answer</label>
      {{textarea value=userAnswerTest id='answerUpdate' placeholder=answer.userAnswer}}
    </div>
    <div class="form-group">
      <label for="user">By</label>
      {{input value=respondentTest id='userUpdate' placeholder=answer.respondent}}
    </div>
    <div class="form-group">
      <label for="date">posted on</label>
      {{input value=dateTest id='dateUpdate' type='date' placeholder=answer.date}}
    </div>
    <button {{action 'update' answer}}>save</button>
  </form>
</div>
{{else}}
<button {{action 'AnswerUpdateForm'}}>update</button>
{{/if}}
