<li>
  <p><strong>Question:</strong> {{question.userQuestion}}</p>
  {{#if areDetailsShowing }}
    <p{{action 'hideDetails'}}><strong>User:</strong> {{question.questioner}}, <strong>date:</strong> {{question.date}}</p>
  {{else}}
    <button {{action 'showDetails'}}>question details</button>
 {{/if}}
</li>
