<h4><i>{{model.userQuestion}}</i></h4>
<p><i>Questioner:</i> {{model.questioner}} ~ <i>posted on:</i> {{model.date}}</p>

{{new-answer question=model saveAnswerInsideQuestionCp="saveAnswerInsideQuestionRoute" destroyAnswerComp="destroyAnswerRoute"}}



{{#each model.answers as |currentAnswer|}}
<hr>

{{answer-update answer=currentAnswer update="update"}}
{{answer-detail answer=currentAnswer destroyAnswerSendToParent="destroyAnswerInsideQuestionRoute"}}
{{/each}}

<br>
