<h4><i>{{model.userQuestion}}</i></h4>
<p><i>Questioner:</i> {{model.questioner}} ~ <i>posted on:</i> {{model.date}}</p>

{{new-answer question=model saveAnswerInsideQuestionCp="saveAnswerInsideQuestionRoute" destroyAnswerComp="destroyAnswerRoute"}}


{{answer-detail question=model delete="delete"}}

{{#each model.answers as |answer|}}
<hr>
<p><strong>Answer: </strong>{{answer.userAnswer}}</p>
<p><i>Answered by: </i>{{answer.respondent}} ~ <i>posted on:</i> {{answer.date}}</p>
{{answer-update question=model update="update"}}
{{/each}}

<br>
